@import '../../css/Config.scss';

.now-playing {
    &__inner {
        margin-top: 30px;
        text-align: center;
    }

    &__title {
        padding: 0 20px;
        font-size: 35px;
    }

    &__artist {
        margin-top: 20px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 600;
        font-size: 10px;
    }
}
