@import '../../css/Config.scss';

.user-info {
  padding: 40px 0 0;
  
  &__avatar {
    > img {
      width: 70px;
      height: 70px;
      display: block;
      margin: 0 auto;
    }
  }

  &__realname {
    margin: 20px 0 10px;
    font-weight: 100;
    text-align: center;
    font-size: 25px;
    margin-bottom: 5px;
    text-align: center;
    color: #D5D7DB;
  }

  &__username,
  &__country {
    margin-bottom: 5px;
    padding: 0 50px;
    text-align: center;
    color: #afb1b5;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 9px;

    span {
      color: #D5D7DB;
      text-transform: none;
    }
  }

  &__username {
    margin-top: 10px;
  }
}
