@import './Config.scss';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background-color: $color--primary;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  animation: fadeIn 1000ms;
}

a {
  color: $color--tertiary;
  text-decoration: none;
}

.app {
  min-height: 100vh;
  font-family: "Oxygen", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  background-color: $color--primary;
  color: #fff;
}

.wrapper {
  margin: 0 auto;
  padding: 0 20px;
}
