@import '../../css/Config.scss';

.scrobbles {
  text-align: center;
  position: relative;
  top: 37%;
  transform: translateY(-50%);
  padding: 0 80px;

  &__value {
    font-size: 75px;
  }

  &__label {
    display: block;
    margin-top: 3px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 12px;
  }
}